<template>
  <div class="layout">
    <nav class="navigation">
      <div class="container">
        <a href="#" class="logo" rel="home">
          <img src="img/logo.png" class="rounded" alt />
        </a>
        <ul class="nav" role="tablist">
          <li>
            <a
              href="#tasks-tab"
              class="active"
              data-toggle="tab"
              role="tab"
              aria-controls="tasks-tab"
              aria-selected="true"
            >
              <i data-eva="clipboard" data-eva-animation="pulse"></i>
            </a>
          </li>
          <li>
            <a
              href="#ongoing-task-tab"
              data-toggle="tab"
              role="tab"
              aria-controls="ongoing-task-tab"
              aria-selected="false"
            >
              <i data-eva="checkmark-square-outline" data-eva-animation="pulse"></i>
            </a>
          </li>
          <li>
            <a
              href="#notifications-tab"
              data-toggle="tab"
              role="tab"
              aria-controls="notifications-tab"
              aria-selected="false"
              class="online"
            >
              <i data-eva="bell" data-eva-animation="pulse"></i>
              <i class="eva-hover status online" v-if="not_seen_notif != 0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  class="eva-radio-button-on mb-negative-10"
                >
                  <g data-name="Layer 2">
                    <g data-name="radio-button-on">
                      <rect width="24" height="24" opacity="0" />
                      <path
                        d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"
                      />
                      <path d="M12 7a5 5 0 1 0 5 5 5 5 0 0 0-5-5z" />
                    </g>
                  </g>
                </svg>
              </i>
            </a>
          </li>
          <li>
            <a
              href="#settings-tab"
              data-toggle="tab"
              role="tab"
              aria-controls="settings-tab"
              aria-selected="false"
            >
              <i data-eva="settings" data-eva-animation="pulse"></i>
            </a>
          </li>
          <li>
            <button type="button" class="btn mode">
              <i data-eva="bulb" data-eva-animation="pulse"></i>
            </button>
          </li>
          <li>
            <button type="button" class="btn">
              <img :src="$parent.store.state.currentUser.avatarPath" alt="avatar" />
              <i data-eva="radio-button-on"></i>
            </button>
          </li>
          <li>
            <button type="button" class="btn mode d-lg-none">
              <i data-eva="bulb" data-eva-animation="pulse"></i>
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Start of Sidebar -->
    <div class="sidebar">
      <div class="container">
        <div class="tab-content">
          <div class="settings tab-pane fade show active" id="tasks-tab" role="tabpanel">
            <div class="user">
              <label>
                <input type="file" />
                <img :src="$parent.store.state.currentUser.avatarPath" alt="avatar" />
              </label>
              <div class="content">
                <h5>Hi, {{ $parent.store.state.currentUser.nickname }}</h5>
                <span>Runner</span>
              </div>
            </div>
            <hr />
            <div class="top">
              <ul class="nav" role="tablist">
                <li>
                  <a
                    href="#direct"
                    class="filter-btn active"
                    data-toggle="tab"
                    data-filter="direct"
                  >Tasks</a>
                </li>
              </ul>
            </div>
            <div class="middle">
              <ul class="nav discussions" role="tablist">
                <Tasks />
              </ul>
            </div>
          </div>
          <div class="tab-pane fade" id="ongoing-task-tab" role="tabpanel">
            <div class="top">
              <ul class="nav" role="tablist">
                <li>
                  <a
                    href="#direct"
                    class="filter-btn active"
                    data-toggle="tab"
                    data-filter="direct"
                  >Ongoing and Awaiting</a>
                </li>
              </ul>
            </div>
            <hr />
            <div class="middle">
              <OngoingTasks />
              <AwaitingTasks />
            </div>
          </div>
          <div class="tab-pane fade" id="notifications-tab" role="tabpanel">
            <div class="notification">
              <div class="top">
                <form>
                  <input type="search" class="form-control" placeholder="Search" />
                  <button type="submit" class="btn prepend">
                    <i data-eva="search"></i>
                  </button>
                </form>
              </div>
              <div class="middle">
                <h4>Notifications</h4>
                <hr />
                <ul class="notifications" v-if="notifications != null">
                  <li
                    v-for="item in not_seen_notif"
                    v-bind:key="item.id"
                    @click="open_notification(item)"
                  >
                    <div class="round">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        class="eva eva-bell-outline"
                      >
                        <g data-name="Layer 2">
                          <g data-name="bell">
                            <rect width="24" height="24" opacity="0" />
                            <path
                              d="M20.52 15.21l-1.8-1.81V8.94a6.86 6.86 0 0 0-5.82-6.88 6.74 6.74 0 0 0-7.62 6.67v4.67l-1.8 1.81A1.64 1.64 0 0 0 4.64 18H8v.34A3.84 3.84 0 0 0 12 22a3.84 3.84 0 0 0 4-3.66V18h3.36a1.64 1.64 0 0 0 1.16-2.79zM14 18.34A1.88 1.88 0 0 1 12 20a1.88 1.88 0 0 1-2-1.66V18h4zM5.51 16l1.18-1.18a2 2 0 0 0 .59-1.42V8.73A4.73 4.73 0 0 1 8.9 5.17 4.67 4.67 0 0 1 12.64 4a4.86 4.86 0 0 1 4.08 4.9v4.5a2 2 0 0 0 .58 1.42L18.49 16z"
                            />
                          </g>
                        </g>
                      </svg>
                    </div>
                    <p class>{{ item.title }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="create-task-tab" role="tabpanel"></div>
          <div class="settings tab-pane fade" id="settings-tab" role="tabpanel">
            <div class="user">
              <label>
                <img :src="$parent.store.state.currentUser.avatarPath" alt="avatar" />
              </label>
              <div class="content">
                <h5>{{ $parent.store.state.currentUser.nickname }}</h5>
                <span>Runner</span>
              </div>
            </div>
            <h4>Profile</h4>
            <ul id="preferences">
              <!-- Start of Account -->
              <li>
                <a
                  href="#"
                  class="headline"
                  data-toggle="collapse"
                  aria-expanded="false"
                  data-target="#account"
                  aria-controls="account"
                >
                  <div class="title">
                    <h5>Completed Tasks</h5>
                  </div>
                  <i data-eva="arrow-ios-forward"></i>
                  <i data-eva="arrow-ios-downward"></i>
                </a>
                <div class="content collapse" id="account" data-parent="#preferences">
                  <div class="inside">

                  </div>
                </div>
              </li>
              <!-- End of Account -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <TaskDetails ref="task_details" />
  </div>
</template>

<script>
    import Tasks from "../components/Tasks";
    import OngoingTasks from "../components/OngoingTasks";
    import TaskDetails from "../components/TaskDetails";
    import AwaitingTasks from "../components/AwaitingTasks";

    import axios from "axios";
    export default {
        name: "Home",
        components: {
            Tasks,
            TaskDetails,
            OngoingTasks,
            AwaitingTasks
        },
        data() {
            return {
                notifications: [],
                currentUser: {}
            };
        },
        computed: {
            not_seen_notif: function() {
                let computed_notif = [];
                this.notifications.forEach(function(notification) {
                    if (notification.is_seen == false) {
                        computed_notif.push(notification);
                    }
                });
                return computed_notif;
            }
        },
        methods: {
            open_notification(item) {
                //console.log(item);
                console.log(this.not_seen_notif);
                axios
                    .delete(
                        "http://clearhouse.pythonanywhere.com/api/Notifications/" +
                            this.not_seen_notif.indexOf(item)
                    )
                    .then(function() {
                        item.task.id;
                    });
            }
        },
        mounted() {
            let self = this;
            this.currentUser = this.$parent.store.state.currentUser;
            this.$forceUpdate();
            console.log(this.currentUser.id);

            axios
                .get("http://clearhouse.pythonanywhere.com/api/Notifications/", {
                    params: {
                        user: this.currentUser.id,
                        is_seen: false,
                        format: "json"
                    }
                })
                .then(function(response) {
                    console.log(response);
                    self.notifications = response.data;
                    console.log(this.notifications);
                })
                .catch(function(error) {
                    console.log(error);
                });
            window.eva.replace();
        }
    };
</script>
