<template>
  <div class="task-details">
    <div class="chat">
      <div class="tab-content" v-if="task != null">
        <!-- Start of Chat Room -->
        <div class="tab-pane fade show active" id="task-details" role="tabpanel">
          <div class="item">
            <div class="content">
              <div class="container">
                <div class="top">
                  <div class="headline">
                    <img :src="task.tasker.profile_photo" alt="avatar" />
                    <div class="content">
                      <h5>{{ task.tasker.name }}</h5>
                      <span>{{ task.created | moment("from", "now", true) }} ago</span>
                    </div>
                  </div>
                  <ul>
                    <li>
                      <button type="button" class="btn">
                        <i data-eva="video" data-eva-animation="pulse"></i>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="btn">
                        <i data-eva="phone" data-eva-animation="pulse"></i>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="btn" data-toggle="modal" data-target="#compose">
                        <i data-eva="person-add" data-eva-animation="pulse"></i>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="btn" data-utility="open">
                        <i data-eva="info" data-eva-animation="pulse"></i>
                      </button>
                    </li>
                    <li>
                      <button
                        @click="closeTaskDetails()"
                        type="button"
                        class="btn round"
                        data-chat="open"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          class="eva eva-arrow-ios-back"
                        >
                          <g data-name="Layer 2">
                            <g data-name="arrow-ios-back">
                              <rect
                                width="24"
                                height="24"
                                transform="rotate(90 12 12)"
                                opacity="0"
                              />
                              <path
                                d="M13.83 19a1 1 0 0 1-.78-.37l-4.83-6a1 1 0 0 1 0-1.27l5-6a1 1 0 0 1 1.54 1.28L10.29 12l4.32 5.36a1 1 0 0 1-.78 1.64z"
                              />
                            </g>
                          </g>
                        </svg>
                      </button>
                    </li>
                    <li v-if="task.status != 'Ongoing' && task.status != 'AWAITING'">
                      <button
                        type="button"
                        class="btn"
                        title="Accept Task"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        @click="acceptTask()"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          class="eva eva-person-done-outline eva-animation eva-icon-hover-pulse"
                        >
                          <g data-name="Layer 2">
                            <g data-name="person-done">
                              <rect width="24" height="24" opacity="0" />
                              <path
                                d="M21.66 4.25a1 1 0 0 0-1.41.09l-1.87 2.15-.63-.71a1 1 0 0 0-1.5 1.33l1.39 1.56a1 1 0 0 0 .75.33 1 1 0 0 0 .74-.34l2.61-3a1 1 0 0 0-.08-1.41z"
                              />
                              <path
                                d="M10 11a4 4 0 1 0-4-4 4 4 0 0 0 4 4zm0-6a2 2 0 1 1-2 2 2 2 0 0 1 2-2z"
                              />
                              <path
                                d="M10 13a7 7 0 0 0-7 7 1 1 0 0 0 2 0 5 5 0 0 1 10 0 1 1 0 0 0 2 0 7 7 0 0 0-7-7z"
                              />
                            </g>
                          </g>
                        </svg>
                      </button>
                    </li>
                    <li v-if="task.status != 'Pending' && task.status != 'AWAITING'">
                      <button
                        type="button"
                        class="btn circle"
                        title="Accept Task"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        @click="awaiting()"
                      >
                        <i class="eva-hover">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            class="eva eva-question-mark-outline eva-animation eva-icon-hover-pulse"
                          >
                            <g data-name="Layer 2">
                              <g data-name="question-mark">
                                <rect
                                  width="24"
                                  height="24"
                                  transform="rotate(180 12 12)"
                                  opacity="0"
                                />
                                <path
                                  d="M17 9A5 5 0 0 0 7 9a1 1 0 0 0 2 0 3 3 0 1 1 3 3 1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-1.1A5 5 0 0 0 17 9z"
                                />
                                <circle cx="12" cy="19" r="1" />
                              </g>
                            </g>
                          </svg>
                        </i>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class id="scroll">
                <div class="container">
                  <br />
                  <div class="media align-items-center">
                    <div class="media-body">
                      <h6 class="mt-0 mb-0">{{ task.task_type }}</h6>
                      <span class="text-gray fs-15px">{{ task.name }}</span>
                      <div class="row" v-if="task.metadata">
                        <div
                          v-for="item in task.metadata.products"
                          v-bind="item"
                          v-bind:key="item.id"
                          class="col-6 col-md-4 p-2"
                        >
                          <div class="card bg-transparent border-0">
                            <div class="card-body p-0 text-center">
                              <div
                                class="embed-responsive embed-responsive-4by3 bg-primary rounded"
                              >
                                <div
                                  class="embed-responsive-item rounded border-0"
                                  :style="'background-image: url('+ item.product_photo +'); background-size: cover; background-repeat: none'"
                                ></div>
                              </div>
                              <div class="media align-items-center mt-2">
                                <div class="media-body text-ellipsis text-left">
                                  <h6 class="mt-1 mb-0">{{ item.name | ellipsis }}...</h6>
                                  <span class="text-gray fs-15px">R {{ item.price }}</span>
                                </div>
                                <button
                                  @click="openProductInfo(item)"
                                  type="button"
                                  class="btn round"
                                >
                                  <i class="eva-hover">
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="24"
                                      height="24"
                                      viewBox="0 0 24 24"
                                      class="eva eva-info eva-animation eva-icon-hover-pulse"
                                    >
                                      <g data-name="Layer 2">
                                        <g data-name="info">
                                          <rect
                                            width="24"
                                            height="24"
                                            transform="rotate(180 12 12)"
                                            opacity="0"
                                          />
                                          <path
                                            d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm1 14a1 1 0 0 1-2 0v-5a1 1 0 0 1 2 0zm-1-7a1 1 0 1 1 1-1 1 1 0 0 1-1 1z"
                                          />
                                        </g>
                                      </g>
                                    </svg>
                                  </i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Chat Room -->
      </div>
    </div>
    <div
      class="modal fade"
      id="product"
      tabindex="-1"
      role="dialog"
      aria-labelledby="product"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Product details</h5>
            <button type="button" class="btn round" data-dismiss="modal" aria-label="Close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="eva eva-close"
              >
                <g data-name="Layer 2">
                  <g data-name="close">
                    <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0" />
                    <path
                      d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
                    />
                  </g>
                </g>
              </svg>
            </button>
          </div>
          <div class="modal-body">
            <div class="tab-content">
              <!-- Start of Details -->
              <div
                class="details tab-pane fade show active"
                id="details"
                role="tabpanel"
                v-if="selected_product != null"
              >
                <div class="card bg-transparent border-0 mt-2">
                  <div class="card-body p-0 text-center">
                    <div class="embed-responsive embed-responsive-4by3 bg-primary rounded">
                      <div
                        class="embed-responsive-item rounded border-0"
                        :style="'background-image: url('+ selected_product.product_photo +'); background-size: cover; background-repeat: none'"
                      ></div>
                    </div>
                    <h6 class="mt-3 mb-0">{{ selected_product.name }}</h6>
                    <div class="media align-items-center mt-0 mx-1">
                      <span class="text-gray fs-15px">R {{ selected_product.price }}</span>
                      <div class="media-body"></div>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="compose"
      tabindex="-1"
      role="dialog"
      aria-labelledby="compose"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Confirmation</h5>
            <button type="button" class="btn round" data-dismiss="modal" aria-label="Close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                class="eva eva-close"
              >
                <g data-name="Layer 2">
                  <g data-name="close">
                    <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0" />
                    <path
                      d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
                    />
                  </g>
                </g>
              </svg>
            </button>
          </div>
          <div class="modal-body">
            <div class="tab-content">
              <!-- Start of Details -->
              <div class="details tab-pane fade show active" id="details" role="tabpanel">
                <div class="container">Are you sure you want to run this task?</div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button @click="confirm()" type="submit" class="btn primary">Yes, I am sure</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import axios from "axios";
    import Swal from "sweetalert2";
    const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        onOpen: toast => {
            toast.addEventListener("mouseenter", Swal.stopTimer);
            toast.addEventListener("mouseleave", Swal.resumeTimer);
        }
    });
    export default {
        name: "TaskDetails",
        data() {
            return {
                task: null,
                selected_product: null,
            };
        },
        methods: {
            closeTaskDetails() {
                window.$(".chat").removeClass("open");
            },
            acceptTask() {
                window.$("#compose").modal("show");
            },
            openProductInfo(item) {
                this.selected_product = item;
                window.$("#product").modal("show");
            },
            closeProudctDetails() {
                window.$(".utility").removeClass("open");
            },
            confirm() {
                let self = this;
                console.log(self.$parent.$parent.store.state.currentUser.id);
                console.log(self.task.id);
                axios
                    .post("http://clearhouse.pythonanywhere.com/api/accept-task/", {
                        user: self.$parent.$parent.store.state.currentUser.id,
                        task: self.task.id
                    })
                    .then(function() {
                        Toast.fire({
                            icon: "success",
                            title: "Task successfully Tasken"
                        });
                        window.$("#compose").modal("hide");
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            },
            awaiting() {
                let self = this;
                console.log("setting status");
                console.log(self.$parent.$parent.store.state.currentUser.id);
                console.log(self.task.id);
                axios
                    .post("http://clearhouse.pythonanywhere.com/api/task-status/", {
                        requester: self.$parent.$parent.store.state.currentUser.id,
                        task: self.task.id,
                        status: "AWAITING"
                    })
                    .then(function() {
                        Toast.fire({
                            icon: "success",
                            title: "Request Successfully Sent"
                        });
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            }
        }
    };
</script>

