<template>
  <div class="users filter direct" data-chat="open" data-toggle="tab" role="tab">
    <p>Choose a Task and earn some bucks</p>
    <hr />
    <li
      class="p-2 rounded bg-translucent-info mb-2"
      v-for="task in pending_tasks"
      v-bind:key="task.id"
      @click="openTaskDetails(task)"
    >
      <a href="#">
        <div class="status">
          <img :src="task.tasker.profile_photo" alt="avatar" />
          <i data-eva="radio-button-on"></i>
        </div>
        <div class="content" style="float: left">
          <h5>{{ task.tasker.name }}</h5>
          <span>{{ task.name }}</span>
        </div>
      </a>
      <div>
        <span
          class="small"
          style="font-size: 11px; display:inline; float:left"
        >{{ task.created | moment("from", "now", true) }} ago</span>
        <span
          class="small append"
          style="font-size: 11px; display:inline; float:right;"
        >Average rate: R{{task.lowest_rate}} - R{{ task.highest_rate }}</span>
      </div>
      <br />
    </li>
  </div>
</template>

<script>
    import axios from "axios";

    export default {
        name: "Tasks",
        data() {
            return {
                tasks: []
            };
        },
        computed: {
            pending_tasks: function() {
                let computed_tasks = [];
                this.tasks.forEach(function(task) {
                    if (task.status == "Pending") {
                        computed_tasks.push(task);
                    }
                });
                return computed_tasks;
            }
        },
        methods: {
            openTaskDetails(val) {
                console.log(this.$parent.$refs.task_details.task)
                this.$parent.$refs.task_details.task = val;
                window.$(".chat").addClass("open");
            }
        },
        mounted() {
            let self = this;
            axios
                .get("http://clearhouse.pythonanywhere.com/api/tasks/")
                .then(function(response) {
                    console.log(response.data);
                    self.tasks = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                });

            window.eva.replace();
        }
    };
</script>
