<template>
    <div class="modal fade" id="add-item-to-cart" tabindex="-1" role="dialog" aria-labelledby="add-item-to-cart" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
					<h5>Confirmation</h5>
                    <button type="button" class="btn round" data-dismiss="modal" aria-label="Close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="eva eva-close"><g data-name="Layer 2"><g data-name="close"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect><path d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path></g></g></svg>
					</button>
				</div>
                <div class="modal-body" v-if="$parent.store.state.selectedProduct">
                    <div class="container-fluid">
                        <div class="row mt-4 mb-4">
                            <div class="col-12">
                                <div class="embed-responsive embed-responsive-4by3 bg-primary rounded">
                                    <div class="embed-responsive-item rounded border-0" 
                                        :style="'background-image: url('+ $parent.store.state.selectedProduct.product_photo +'); background-size: cover; background-repeat: none'">
                                    </div>
                                </div>
                                <h4 class="mt-3 mb-0">{{ $parent.store.state.selectedProduct.name }}</h4>
                                <h5 class="text-gray mb-2">R {{ $parent.store.state.selectedProduct.price }}</h5>
                                <input type="number" v-model="$parent.store.state.selectedProduct.quantity" class="form-control mb-3" placeholder="Quantity">
                                <button type="button" v-on:click="addItemToCart($parent.store.state.selectedProduct)" class="btn btn-block btn-lg btn-primary bg-primary">
                                    Add To Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AddItemToCartComponent",
        data () {
            return {
                store: {
                    state: {

                    }
                }
            }
        },
        methods: {
            addItemToCart(product) {
                let exists = false;
                let position = 0;
                let self = this;
                this.$parent.store.state.shoppingCart.products.forEach(function(item) {
                    if(product.id === item.id){
                        exists = true;
                        self.$parent.store.state.shoppingCart.products[position].quantity = parseInt(item.quantity) + parseInt(product.quantity);
                    }
                    position ++;
                });
                if(!exists) {
                    this.$parent.store.state.shoppingCart.products.push(product);
                }
                window.$("#add-item-to-cart").modal("hide");
                this.$parent.$forceUpdate();
            }
        }
    }
</script>