<template>
    <div class="icon" :class="[`icon--${name}`, `icon--${size}`, { 'has-align-fix': fixAlign }]">
        <img v-if="name === 'bold'" src="img/icons/bold.png" class="img-fluid" alt=""/>
        <img v-if="name === 'italic'" src="img/icons/italic.png" class="img-fluid" alt=""/>
        <img v-if="name === 'ul'" src="img/icons/ul.png" class="img-fluid" alt=""/>
    </div>
</template>

<script>
    export default {
        props: {
            name: {},
            size: {
                default: 'normal',
            },
            modifier: {
                default: null,
            },
            fixAlign: {
                default: true,
            },
        },
    }
</script>