<template>
    <div class="modal fade" id="shopping-cart-modal" tabindex="-1" role="dialog" aria-labelledby="shopping-cart-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
					<h5>Shopping List</h5>
                    <button type="button" class="btn round" data-dismiss="modal" aria-label="Close">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="eva eva-close"><g data-name="Layer 2"><g data-name="close"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect><path d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path></g></g></svg>
					</button>
				</div>
                <div class="modal-body" v-if="$parent.store.state.shoppingCart.products">
                    <div class="container-fluid">
                        <div class="row">
                            <div v-for="item in $parent.store.state.shoppingCart.products" v-bind="item" v-bind:key="item.id" class="col-6 col-md-4 p-2">
                                <div class="card bg-transparent border-0 mt-2">
                                    <div class="card-body p-0 text-center">
                                        <div class="embed-responsive embed-responsive-4by3 bg-primary rounded">
                                            <div class="embed-responsive-item rounded border-0" 
                                                :style="'background-image: url('+ item.product_photo +'); background-size: cover; background-repeat: none'">
                                            </div>
                                        </div>
                                        <h6 class="mt-3 mb-0">{{ item.name | mediumEllipsis }}...</h6>
                                        <div class="media align-items-center mt-0 mx-1">
                                            <span class="text-gray fs-15px">R {{ item.price * parseInt(item.quantity) }}</span>
                                            <div class="media-body">
                                            </div>
                                            <span class="badge badge-primary">{{ item.quantity }} items</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" v-if="store.state.is_error">
                                <div class="alert alert-danger">Oops! Something went wrong</div>
                            </div>
                            <div class="col-12 mb-3">
                                <span class="text-gray fs-15px">Subtotal</span>
                                <h4>R {{ getCartSubtotal($parent.store.state.shoppingCart.products).toFixed(2) }}</h4>
                                <button type="button" class="btn btn-block btn-lg btn-primary bg-primary mt-2"
                                    v-on:click="submitShoppingTask()">
                                    <span v-if="!store.state.is_loading">Check Out</span>
                                    <span v-if="store.state.is_loading">Loading...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ShoppingCartComponent",
        props: [ "user" ],
        data() {
            return {
                store: {
                    state: {
                        is_loading: false,
                        is_error: false
                    }
                }
            }
        },
        methods: {
            getCartSubtotal(products) {
                let subtotal = 0.00;
                products.forEach(function(product) {
                    subtotal += product.price * parseFloat(product.quantity);
                });
                return subtotal;
            },
            submitShoppingTask() {
                this.store.state.is_loading = true;
                this.store.state.is_error = false;
                let model = {
                    tasker: this.user.id,
                    taskee: null,
                    name: "Grocery Shopping",
                    task_type: "SHOPPING",
                    status: "Pending",
                    metadata: {
                        products: []
                    }
                };
                this.$parent.store.state.shoppingCart.products.forEach(function(item) {
                    for(var index = 0; index < item.quantity; index++) {
                        model.metadata.products.push(item.id)
                    }
                });
                let self = this;
                this.axios.post(`${window.baseApiUri}/post-tasks/?format.json`, model)
                    .then(function(result) {
                        console.log(result);
                        self.$parent.store.state.selectedShop = null;
                        self.$parent.store.state.selectedProduct = null;
                        self.$parent.store.state.shoppingCart = {
                            products: []
                        };
                        self.store.state.is_error = false;
                        self.store.state.is_loading = false;
                        window.$("#shopping-cart-modal").modal("hide");
                    }).catch(function(error) {
                        self.store.state.is_error = true;
                        self.store.state.is_loading = false;
                        console.log(error);
                    });
            }
        }
    }
</script>