<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="libs/swiper/css/swiper.min.css" rel="stylesheet" />
    <link href="css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/swipe.min.css" type="text/css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link href="css/editor.css" type="text/css" rel="stylesheet" />
    <link href="img/favicon.png" type="image/png" rel="icon">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="js/vendor/jquery-slim.min.js"></script>
		<script src="js/vendor/popper.min.js"></script>
		<script src="js/vendor/feather.min.js"></script>
		<script src="js/vendor/eva.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/swipe.min.js"></script>
    <script src="microapp.js"></script>
    <script type="text/javascript">
      function onProfileChanged(nickname, avatarPath) {
        if(window.SPA) {
          window.SPA.store.onAyobaUserProfileChanged(nickname, avatarPath);
        }
      }
      var baseApiUri = "http://clearhouse.pythonanywhere.com/api";
      window.Ayoba = getAyoba();
    </script>
    <!-- Add Remote Debugger -->
    <script data-consolejs-channel="830487c3-435c-11a7-855d-316efc46b0df" src="https://remotejs.com/agent/agent.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
