<template>
    <main>
        <div class="d-flex align-items-center min-vh-100 py-11 mx-auto" style="max-width: 468px;">
            <div class="container">
                <div class="card border-0">
                    <div class="card-body p-5">
                        <img src="img/logo.png" class="img-fluid w-55px mb-5"/>
                        <h2 class="mb-5 fs-lg text-bold">
                            <strong>Task Runner</strong>
                        </h2>
                        <p>Get your tasks done or get paid for doing tasks.</p>
                        <router-link class="btn btn-block btn-lg btn-primary mt-3 bg-primary" to="/tasker">
                            Tasker
                        </router-link>
                        <router-link to="/runner/" class="btn btn-block btn-lg btn-secondary mt-3 bg-secondary">
                            Runner
                        </router-link>
                        <p class="mt-3 text-center">Copyright 2020
                            <a class="link-primary" href="#">Task Runner</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default {
        name: 'Home',
        data () {
            return {

            }
        }
    }
</script>
