.editor {
    position: relative;
}
.editor__content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.editor__content * {
    caret-color: currentColor;
}
.editor__content pre {
    padding: 0.7rem 1rem;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 0.8rem;
    overflow-x: auto;
}
.editor__content pre code {
    display: block;
}
.editor__content p code {
    display: inline-block;
    padding: 0 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
}
.editor__content ul, .editor__content ol {
    padding-left: 1rem;
}
.editor__content li > p, .editor__content li > ol, .editor__content li > ul {
    margin: 0;
}
.editor__content a {
    color: inherit;
}
.editor__content blockquote {
    border-left: 3px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    padding-left: 0.8rem;
    font-style: italic;
}
.editor__content blockquote p {
    margin: 0;
}
.editor__content img {
    max-width: 100%;
    border-radius: 3px;
}
.editor__content table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.editor__content table td, .editor__content table th {
    min-width: 1em;
    border: 2px solid #ddd;
    padding: 3px 5px;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
}
.editor__content table td > *, .editor__content table th > * {
    margin-bottom: 0;
}
.editor__content table th {
    font-weight: bold;
    text-align: left;
}
.editor__content table .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
}
.editor__content table .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
}
.editor__content .tableWrapper {
    margin: 1em 0;
    overflow-x: auto;
}
.editor__content .resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}
.menubar {
    margin-bottom: 1rem;
    transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
}
.menubar.is-hidden {
    visibility: hidden;
    opacity: 0;
}
.menubar.is-focused {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
}
.menubar__button {
    font-weight: bold;
    display: inline-flex;
    background: transparent;
    border: 0;
    color: #bdbac2;
    padding: 0.5rem 0.5rem;
    margin-right: 0.4rem;
    border-radius: 3px;
    cursor: pointer;
}
.menubar__button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.menubar__button.is-active {
    background-color: rgba(0, 0, 0, 0.1);
}
.menubar span#menubar__button {
    font-size: 13.3333px;
}
.menububble {
    position: absolute;
    display: flex;
    z-index: 20;
    background: #000;
    border-radius: 5px;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}
.menububble.is-active {
    opacity: 1;
    visibility: visible;
}
.menububble__button {
    display: inline-flex;
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0.2rem 0.5rem;
    margin-right: 0.2rem;
    border-radius: 3px;
    cursor: pointer;
}
.menububble__button:last-child {
    margin-right: 0;
}
.menububble__button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.menububble__button.is-active {
    background-color: rgba(255, 255, 255, 0.2);
}
.menububble__form {
    display: flex;
    align-items: center;
}
.menububble__input {
    font: inherit;
    border: none;
    background: transparent;
    color: #fff;
}

.editor .icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 0.9rem;
    height: 0.9rem;
    margin: 0 0.4rem;
    top: -0.15rem;
    fill: #000;
}
.editor .icon__svg {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
}
.editor .icon:first-child {
    margin-left: 0;
}
.editor .icon:last-child {
    margin-right: 0;
}

.editor ul {
    padding: 0px !important;
}

.editor ul > li::before {
    content: "•"; 
    color: #bdbac2;
    margin-right: 0.5em;
}

.editor ul > li p {
    padding: 0px !important;
    color: #bdbac2 !important;
}

.chat .item .middle ul>li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    text-align: left;
}

.editor ul>li + li {
    margin-top: 0px !important;
}