html, body {
    height: 100% !important;
    width: 100% !important
}

.discussions>li>div {
    display: block;
    padding: 25px 0;
    border-bottom: 2px solid #fbfbfb;
}

.mb-negative-10 {
    margin-bottom: -10px;
}

.discussions>li>div img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.chat-lg .item .middle {
    height: calc(100vh - 104px);
}

.chat-lg .item .middle>div {
    margin-top: 0;
}

.clickable {
    cursor: pointer !important;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fs-15px {
    font-size: 15px;
}

.text-gray {
    color: #bdbac2;
}

input.form-control {
    padding: 0 20px;
    height: 55px;
}
    .paper > div:focus {
        outline: none;
    }

.bg-translucent-primary {
    background-color: #f1eeff !important;
}

.bg-translucent-info {
    background-color: #e6f6f9 !important;
}

.bg-translucent-success {
    background-color: #ecf9e6 !important;
}

.bg-translucent-warning {
    background-color: #f9f7e6 !important;
}

.bg-translucent-danger {
    background-color: #f9e6e6 !important;
}

.w-55px {
    width: 55px !important;
}