<template>
  <div id="app" class="w-100 h-100">
    <router-view></router-view>
  </div>
</template>

<script>
    export default {
        name: 'App',
        data () {
            return {
                store: {
                    state: {
                        currentUser: {
                            id: '',
                            nickname: '',
                            avatarPath: '',
                            msisdn: '',
                            country: ''
                        }
                    },
                    setUserMsisdn(msisdn) {
                        this.state.currentUser.msisdn = msisdn;
                    },
                    setUserCountry(country) {
                        this.state.currentUser.country = country;
                    },
                    setUserId(id) {
                        this.state.currentUser.id = id;
                    },
                    onAyobaUserProfileChanged(nickname, avatarPath) {
                        this.state.currentUser.nickname = nickname;
                        this.state.currentUser.avatarPath = avatarPath
                    }
                }
            }
        },
        methods: {
            showErrorPage() {
                this.$router.push('/error');
            }
        },
        beforeMount() {
            window.SPA = this;
        },
        async mounted () {
            let userMsisdn = this.$ayoba.getMsisdn();
            let userCountry = this.$ayoba.getCountry();
            if(userMsisdn) {
                // Todo : Send Create User To Api
                let self = this;
                await this.axios.post(`${window.baseApiUri}/profile/?format.json`, {
                    name: "adasdasd",
                    number: userMsisdn,
                    country: userCountry,
                    profile_photo: "img/avatar.jpg" // Well add profile path here
                }).then(function (result) {
                    if(result.data.length > 0) {
                        self.store.setUserId(result.data[0].id);
                        self.store.setUserMsisdn(userMsisdn);
                        self.store.setUserCountry(userCountry);
                        self.$ayoba.triggerAyobaUserProfileChanged();
                    }
                }).catch(function (error) {
                    console.log(error);
                });
                await this.axios.get(`${window.baseApiUri}/profile/?number=${encodeURIComponent(userMsisdn)}&format.json`)
                    .then(function (result) {
                        if(result.data.length > 0) {
                            self.store.setUserId(result.data[0].id);
                            self.store.setUserMsisdn(userMsisdn);
                            self.store.setUserCountry(userCountry);
                            self.$ayoba.triggerAyobaUserProfileChanged();
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
            }
            else
            {
                this.showErrorPage();
            }
        },
    }
</script>
