<template>
    <div class="layout">
        <nav class="navigation">
            <div class="container">
                <a href="#" class="logo" rel="home">
                    <img src="img/logo.png" class="rounded" alt=""/>
                </a>
                <ul class="nav" role="tablist">
					<li>
                        <a href="#tasks-tab" class="active" data-toggle="tab" role="tab" 
                            aria-controls="tasks-tab" aria-selected="true">
                            <i data-eva="message-square" data-eva-animation="pulse"></i>
                        </a>
                    </li>
					<li>
                        <a href="#notifications-tab" data-toggle="tab" role="tab" 
                            aria-controls="notifications-tab" aria-selected="false">
                            <i class data-eva="bell" data-eva-animation="pulse"></i>
                            <i class="eva-hover status online">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="eva-radio-button-on mb-negative-10"><g data-name="Layer 2"><g data-name="radio-button-on"><rect width="24" height="24" opacity="0"></rect><path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8 8 0 0 1-8 8z"></path><path d="M12 7a5 5 0 1 0 5 5 5 5 0 0 0-5-5z"></path></g></g></svg>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#create-task-tab" data-toggle="tab" role="tab" 
                            aria-controls="create-task-tab" aria-selected="false">
                            <i data-eva="plus-circle" data-eva-animation="pulse"></i>
                        </a>
                    </li>
					<li>
                        <a href="#settings-tab" data-toggle="tab" role="tab" 
                            aria-controls="settings-tab" aria-selected="false">
                            <i data-eva="settings" data-eva-animation="pulse"></i>
                        </a>
                    </li>
					<li>
                        <button type="button" class="btn mode">
                            <i data-eva="bulb" data-eva-animation="pulse"></i>
                        </button>
                    </li>
					<li>
                        <button type="button" class="btn">
                            <img :src="$parent.store.state.currentUser.avatarPath" alt="avatar">
                            <i data-eva="radio-button-on"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn mode d-lg-none">
                            <i data-eva="bulb" data-eva-animation="pulse"></i>
                        </button>
                    </li>
				</ul>
            </div>
        </nav>
        <!-- Start of Sidebar -->
        <div class="sidebar">
            <div class="container">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tasks-tab" role="tabpanel">
                        <div class="top mb-2">
							<form>
								<input type="search" class="form-control" placeholder="Search My Tasks">
								<button type="submit" class="btn prepend"><i data-eva="search"></i></button>
							</form>
							<ul class="nav" role="tablist">
								<li><a href="#pending" v-on:click="store.state.activeTaskTab = 'Pending'" class="filter-btn active" data-toggle="tab" data-filter="direct">Pending</a></li>
								<li><a href="#ongoing" v-on:click="store.state.activeTaskTab = 'Ongoing'" class="filter-btn" data-toggle="tab" data-filter="direct">Ongoing</a></li>
							</ul>
						</div>
                        <div class="middle">
                            <ul class="nav discussions" role="tablist">
                                <!-- Pending Task -->
                                <li :class="{ 'd-none' : store.state.activeTaskTab == 'Ongoing'}" v-for="userTask in currentUserPendingTasks" v-bind="userTask" v-bind:key="userTask.id">
                                    <div class="filter direct clickable">
										<div class="status online">
                                            <img :src="userTask.tasker.profile_photo" alt="avatar">
                                        </div>
                                        <div class="content">
											<div class="headline">
												<h5>{{ userTask.name }}</h5>
												<span>Today</span>
											</div>
											<p v-if="userTask.task_type == 'SHOPPING'">We are looking for a runner to do your groccery task for you.</p>
                                            <p v-else-if="userTask.metadata.custom.type == 'BILL PAYMENT'">We are looking for a runner to do your bill payment.</p>
                                            <p v-else-if="userTask.metadata.custom.type == 'DELIVERY'">We are looking for a runner to do your delivery task.</p>
                                            <p class="text-success">Fee : R {{ userTask.lowest_rate }} - R {{ userTask.highest_rate }}</p>
										</div>
									</div>
                                </li>
                                <!-- Ongoing Task -->
                                <li :class="{ 'd-none' : store.state.activeTaskTab == 'Pending'}" v-for="userTask in currentUserOngoingTasks" v-bind="userTask" v-bind:key="userTask.id">
                                    <div class="filter direct clickable" v-on:click="showTask(userTask)">
										<div class="status online">
                                            <img :src="userTask.taskee.profile_photo" alt="avatar">
                                        </div>
										<div class="content">
											<div class="headline">
												<h5>{{ userTask.name }}</h5>
												<span>Today</span>
											</div>
											<p v-if="userTask.task_type == 'SHOPPING'">{{ userTask.taskee.name }} is running your groccery task for you.</p>
                                            <p v-else-if="userTask.metadata.custom.type == 'BILL PAYMENT'">{{ userTask.taskee.name }} is running your bill payment task.</p>
                                            <p v-else-if="userTask.metadata.custom.type == 'DELIVERY'">{{ userTask.taskee.name }} is running your delivery task.</p>
                                            <p class="text-success">Fee : R {{ userTask.lowest_rate }} - R {{ userTask.highest_rate }}</p>
										</div>
									</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="notifications-tab" role="tabpanel">
                    </div>
                    <div class="tab-pane fade" id="create-task-tab" role="tabpanel">
                        <h4 class="mb-4">Create Task</h4>
                        <ul class="notifications">
                            <li class="p-4 rounded bg-translucent-primary mb-2" v-on:click="showGrocceryShoppingContent()">
								<div class="round">
                                    <i data-eva="shopping-cart"></i>
                                </div>
								<p>
                                    Create A <strong class="text-primary"> Groccery Shopping</strong> Task.
                                    Request A Thing Or Two At Your Favourite Store.
                                </p>
							</li>
                            <li class="p-4 rounded bg-translucent-info mb-2" v-on:click="showBillsContent()">
								<div class="round">
                                    <i data-eva="person-done"></i>
                                </div>
								<p>
                                    Create A <strong class="text-info"> Pay A Bill</strong> Task.
                                    Send Someone To Settle That Bill For You.
                                </p>
							</li>
                            <li class="p-4 rounded bg-translucent-success mb-2" v-on:click="showDeliveryTaskContent()">
								<div class="round">
                                    <i data-eva="car"></i>
                                </div>
								<p>
                                    Create A <strong class="text-success"> Delivery Task</strong>. 
                                    Ask Someone To Send A Parcel Where You Can't.
                                </p>
							</li>
                            <li class="p-4 rounded bg-translucent-warning mb-2">
								<div class="round">
                                    <i data-eva="globe-2"></i>
                                </div>
								<p>
                                    Create A <strong class="text-warning"> Yard Task</strong>. 
                                    Get Someone To Do Your Outdoor Cleaning Problems.
                                </p>
							</li>
                            <li class="p-4 rounded bg-translucent-danger mb-2">
								<div class="round">
                                    <i data-eva="pantone"></i>
                                </div>
								<p>
                                    Create A <strong class="text-danger"> Handyman Task</strong>. 
                                    Get Someone To Help You With Your DIY Problems.
                                </p>
							</li>
                        </ul>
                    </div>
                    <div class="settings tab-pane fade" id="settings-tab" role="tabpanel">
                        <div class="user">
							<label>
								<img :src="$parent.store.state.currentUser.avatarPath" alt="avatar">
							</label>
							<div class="content">
								<h5>{{ $parent.store.state.currentUser.nickname }}</h5>
								<span>Tasker</span>
							</div>
						</div>
                        <h4>Settings</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Main Content -->
        <div class="chat chat-lg">
            <div class="tab-content">
                <div id="groccery-shopping-content" class="tab-pane fade" role="tabpanel">
                    <div class="item">
                        <div class="content">
                            <div class="container">
                                <div class="top">
									<div class="headline">
										<div class="content">
											<h5>Start Shopping</h5>
											<span>Select a shop below and items.</span>
										</div>
									</div>
									<ul>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
										<li><button type="button" class="btn round" v-on:click="hideTaskTab()"><i data-eva="arrow-ios-back"></i></button></li>
										<li>
                                            <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-eva="more-vertical" data-eva-animation="pulse"></i></button>
											<div class="dropdown-menu">
												<button type="button" class="dropdown-item" v-on:click="showShoppingCart()">
                                                    <i data-eva="shopping-bag"></i>View Cart
                                                </button>
											</div>
										</li>
									</ul>
								</div>
                            </div>
                            <div class="middle" id="scroll">
                                <div class="container">
                                    <div class="row" v-if="!store.state.selectedShop">
                                        <div class="col-12" v-if="store.state.shops">
                                            <swiper :options="{ spaceBetween: 15, width: 150 }">
                                                <swiper-slide v-for="item in store.state.shops" v-bind="item" v-bind:key="item.id">
                                                    <div class="w-100" style="height: 200px">
                                                        <div class="card bg-transparent clickable border-0" v-on:click="setSwiperSelectedShop(item)">
                                                            <div class="card-body p-2 text-center">
                                                                <div class="embed-responsive embed-responsive-1by1 rounded">
                                                                    <div class="embed-responsive-item rounded" 
                                                                        :style="'background-image: url('+ item.shop_photo +'); background-size: cover; background-repeat: none'"></div>
                                                                </div>
                                                                <h6 class="mt-3">{{ item.name }}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </swiper-slide>
                                            </swiper>
                                        </div>
                                    </div>
                                    <div class="row" v-else>
                                        <div class="col-12 mb-2">
                                            <div class="media align-items-center">
                                                <img :src="store.state.selectedShop.shop_photo" class="w-55px rounded mr-3" alt="">
                                                <div class="media-body">
                                                    <h6 class="mt-0 mb-0">{{ store.state.selectedShop.name }}</h6>
                                                    <span class="text-gray fs-15px">Explore products below</span>
                                                </div>
                                                <button type="button" class="btn round" v-on:click="store.state.selectedShop = null">
                                                    <i class="eva-hover"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="eva eva-close-outline eva-animation eva-icon-hover-pulse"><g data-name="Layer 2"><g data-name="close"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect><path d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path></g></g></svg></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-12 py-0 px-4">
                                            <div class="row">
                                                <div v-for="item in store.state.selectedShop.products" v-bind="item" v-bind:key="item.id" class="col-6 col-md-4 p-2">
                                                    <div class="card bg-transparent border-0">
                                                        <div class="card-body p-0 text-center">
                                                            <div class="embed-responsive embed-responsive-4by3 bg-primary rounded">
                                                                <div class="embed-responsive-item rounded border-0" 
                                                                    :style="'background-image: url('+ item.product_photo +'); background-size: cover; background-repeat: none'">
                                                                </div>
                                                            </div>
                                                            <div class="media align-items-center mt-2">
                                                                <div class="media-body text-ellipsis text-left">
                                                                    <h6 class="mt-1 mb-0">{{ item.name | ellipsis }}...</h6>
                                                                    <span class="text-gray fs-15px">R {{ item.price }}</span>
                                                                </div>
                                                                <button type="button" class="btn round" v-on:click="showSelectedProduct(item)">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="eva eva-plus"><g data-name="Layer 2"><g data-name="plus"><rect width="24" height="24" transform="rotate(180 12 12)" opacity="0"></rect><path d="M19 11h-6V5a1 1 0 0 0-2 0v6H5a1 1 0 0 0 0 2h6v6a1 1 0 0 0 2 0v-6h6a1 1 0 0 0 0-2z"></path></g></g></svg>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bills-content" class="tab-pane fade" role="tabpanel">
                    <div class="item">
                        <div class="content">
                            <div class="container">
                                <div class="top">
									<div class="headline">
										<div class="content">
											<h5>Enter Your Bills Below</h5>
											<span>Enter a bill(s) you want to pay.</span>
										</div>
									</div>
									<ul>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
										<li><button type="button" class="btn round" v-on:click="hideTaskTab()"><i data-eva="arrow-ios-back"></i></button></li>
										<li>
										</li>
									</ul>
								</div>
                            </div>
                            <div class="middle" id="scroll">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group mb-2">
                                                <label>Title</label>
                                                <input v-model="store.state.billsCart.title" type="text" class="form-control" placeholder="Summarize the bills you want to pay?">
                                            </div>
                                            <div class="form-group mb-2" v-if="store.state.billsCart.editor">
                                                <label>Description</label>
                                                <div class="w-100 editor">
                                                    <editor-menu-bar :editor="store.state.billsCart.editor" v-slot="{ commands, isActive }">
                                                        <div class="menubar d-flex justify-content-between">
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.bold() }" @click="commands.bold">
                                                                <icon name="bold" />
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.italic() }" @click="commands.italic">
                                                                <icon name="italic" />
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.heading({ level: 3 }) }" @click="commands.heading({ level: 3 })">
                                                                H3
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.heading({ level: 4 }) }" @click="commands.heading({ level: 4 })">
                                                                H4
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.heading({ level: 5 }) }" @click="commands.heading({ level: 5 })">
                                                                H5
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.bullet_list() }" @click="commands.bullet_list">
                                                                <icon name="ul" />
                                                            </div>
                                                        </div>
                                                    </editor-menu-bar>
                                                    <editor-content class="paper paper-bill" :editor="store.state.billsCart.editor" />
                                                </div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label>Running Hourly Rate</label>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input v-model="store.state.billsCart.lowest_rate" type="number" class="form-control" placeholder="Lowest Hourly Rate?">
                                                    </div>
                                                    <div class="col-6">
                                                        <input v-model="store.state.billsCart.highest_rate" type="number" class="form-control" placeholder="Highest Hourly Rate?">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12" v-if="store.state.billsCart.is_error">
                                                <div class="alert alert-danger">Oops! Something went wrong</div>
                                            </div>
                                            <button type="button" v-on:click="submitBillsTask()" class="btn btn-block btn-lg bg-primary text-white">
                                                <span v-if="!store.state.billsCart.is_loading">Submit Task</span>
                                                <span v-if="store.state.billsCart.is_loading">Loading...</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="delivery-task-content" class="tab-pane fade" role="tabpanel">
                    <div class="item">
                        <div class="content">
                            <div class="container">
                                <div class="top">
									<div class="headline">
										<div class="content">
											<h5>Create A Delivery Task Below</h5>
											<span>Tell what you need delivered.</span>
										</div>
									</div>
									<ul>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
										<li><button type="button" class="btn round" v-on:click="hideTaskTab()"><i data-eva="arrow-ios-back"></i></button></li>
										<li>
										</li>
									</ul>
								</div>
                            </div>
                            <div class="middle" id="scroll">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group mb-2">
                                                <label>Title</label>
                                                <input v-model="store.state.deliveryCart.title" type="text" class="form-control" placeholder="Summarize your delivery?">
                                            </div>
                                            <div class="form-group mb-2" v-if="store.state.deliveryCart.editor">
                                                <label>Description</label>
                                                <div class="w-100 editor">
                                                    <editor-menu-bar :editor="store.state.deliveryCart.editor" v-slot="{ commands, isActive }">
                                                        <div class="menubar d-flex justify-content-between">
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.bold() }" @click="commands.bold">
                                                                <icon name="bold" />
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.italic() }" @click="commands.italic">
                                                                <icon name="italic" />
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.heading({ level: 3 }) }" @click="commands.heading({ level: 3 })">
                                                                H3
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.heading({ level: 4 }) }" @click="commands.heading({ level: 4 })">
                                                                H4
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.heading({ level: 5 }) }" @click="commands.heading({ level: 5 })">
                                                                H5
                                                            </div>
                                                            <div class="menubar__button clickable" :class="{ 'is-active': isActive.bullet_list() }" @click="commands.bullet_list">
                                                                <icon name="ul" />
                                                            </div>
                                                        </div>
                                                    </editor-menu-bar>
                                                    <editor-content class="paper paper-bill" :editor="store.state.deliveryCart.editor" />
                                                </div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label>Running Hourly Rate</label>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <input v-model="store.state.deliveryCart.lowest_rate" type="number" class="form-control" placeholder="Lowest Hourly Rate?">
                                                    </div>
                                                    <div class="col-6">
                                                        <input v-model="store.state.deliveryCart.highest_rate" type="number" class="form-control" placeholder="Highest Hourly Rate?">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12" v-if="store.state.deliveryCart.is_error">
                                                <div class="alert alert-danger">Oops! Something went wrong</div>
                                            </div>
                                            <button type="button" v-on:click="submitDeliveryTask()" class="btn btn-block btn-lg bg-primary text-white">
                                                <span v-if="!store.state.deliveryCart.is_loading">Submit Task</span>
                                                <span v-if="store.state.deliveryCart.is_loading">Loading...</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="show-task-content" class="tab-pane fade" role="tabpanel">
                    <div class="item">
                        <div class="content">
                            <div class="container">
                                <div class="top">
									<div class="headline">
										<div class="content">
											<h5 v-if="store.state.selectedTask">{{store.state.selectedTask.name}}</h5>
											<span>Explore task below.</span>
										</div>
									</div>
									<ul>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
										<li><button type="button" class="btn round" v-on:click="hideTaskTab()"><i data-eva="arrow-ios-back"></i></button></li>
										<li>
										</li>
									</ul>
								</div>
                            </div>
                            <div class="middle" id="scroll">
                                <div class="container" v-if="store.state.selectedTask">
                                    <!-- Grocery Shopping Task -->
                                    <div class="row" v-if="store.state.selectedTask.task_type == 'SHOPPING'">
                                        <div class="col-12 py-0 px-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5>Shopping List</h5>
                                                </div>
                                                <div v-for="item in store.state.selectedTask.metadata.products" v-bind="item" v-bind:key="item.id" class="col-6 col-md-4 p-2">
                                                    <div class="card bg-transparent border-0">
                                                        <div class="card-body p-0 text-center">
                                                            <div class="embed-responsive embed-responsive-4by3 bg-primary rounded">
                                                                <div class="embed-responsive-item rounded border-0" 
                                                                    :style="'background-image: url('+ item.product_photo +'); background-size: cover; background-repeat: none'">
                                                                </div>
                                                            </div>
                                                            <div class="media align-items-center mt-2">
                                                                <div class="media-body text-ellipsis text-left">
                                                                    <h6 class="mt-1 mb-0">{{ item.name | mediumEllipsis }}...</h6>
                                                                    <span class="text-gray fs-15px">R {{ item.price }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <span class="text-gray fs-15px">Subtotal</span>
                                                    <h4>R {{ getCartSubtotal(store.state.selectedTask.metadata.products).toFixed(2) }}</h4>
                                                </div>
                                                <div class="col-12">
                                                    <span class="text-danger fs-15px">Fee</span>
                                                    <h5>R {{ store.state.selectedTask.lowest_rate }} - R {{ store.state.selectedTask.highest_rate }}</h5>
                                                </div>
                                                <div v-if="store.state.selectedTask.status == 'AWAITING'" class="col-12 mt-2">
                                                    <div v-if="!store.state.selectedTaskIsLoading" class="alert alert-info" role="alert" v-on:click="confirmSelectedTask()">
                                                        Hey! Your task runner is awaiting for your confirmation. Please click <strong class="alert-link clickable">here</strong> to confirm completion.
                                                    </div>
                                                    <div v-else class="alert alert-warning" role="alert">
                                                        Loading...
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Other Tasks -->
                                    <div class="row" v-else>
                                        <div class="col-12">
                                            <div class="form-group mb-2">
                                                <label class="mb-1">Title</label>
                                                <h5>{{ store.state.selectedTask.metadata.custom.title }}</h5>
                                            </div>
                                            <div v-if="store.state.selectedTask" class="form-group mb-2">
                                                <label class="mb-1">Description</label>
                                                <div v-html="store.state.selectedTask.metadata.custom.content" class="w-100 editor">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <span class="text-danger fs-15px">Fee</span>
                                            <h5>R {{ store.state.selectedTask.lowest_rate }} - R {{ store.state.selectedTask.highest_rate }}</h5>
                                        </div>
                                        <div v-if="store.state.selectedTask.status == 'AWAITING'" class="col-12 mt-2">
                                            <div v-if="!store.state.selectedTaskIsLoading" class="alert alert-info" role="alert" v-on:click="confirmSelectedTask()">
                                                Hey! Your task runner is awaiting for your confirmation. Please click <strong class="alert-link clickable">here</strong> to confirm completion.
                                            </div>
                                            <div v-else class="alert alert-warning" role="alert">
                                                Loading...
                                            </div>
                                        </div>
                                        <div class="col-12 mt-2">
                                            <button type="button" class="btn bg-primary text-white float-right mr-3" v-on:click="shareTaskToAyoba()">
                                                Share To Ayoba
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <AddItemToCartComponent />
        <ShoppingCartComponent :user="$parent.store.state.currentUser" ref="shoppingCartComponent" />
    </div>
</template>

<script>
    import Icon from './../components/IconComponent'
    import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
    import { Bold, Italic, Heading, BulletList, ListItem, Blockquote } from 'tiptap-extensions'
    import AddItemToCartComponent from './../components/AddItemToCartComponent';
    import ShoppingCartComponent from './../components/ShoppingCartComponent';

    export default {
        name: "Home",
        components: { AddItemToCartComponent, ShoppingCartComponent, EditorContent, Icon, 
                      EditorMenuBar },
        data () {
            return {
                store: {
                    state: {
                        activeTaskTab: "Pending",
                        shops: [],
                        selectedShop: null,
                        selectedProduct: null,
                        selectedTask: null,
                        shoppingCart: {
                            products: []
                        },
                        billsCart: {
                            title: '',
                            highest_rate: 0,
                            lowest_rate: 0,
                            is_error: false,
                            is_loading: false,
                            editor: null
                        },
                        tasks: [],
                        selectedTaskIsLoading: false,
                        deliveryCart: {
                            title: '',
                            highest_rate: 0,
                            lowest_rate: 0,
                            is_error: false,
                            is_loading: false,
                            editor: null
                        }
                    }
                }
            }
        },
        methods: {
            showGrocceryShoppingContent () {
                window.$('.chat').addClass('open');
                window.$('#bills-content').removeClass('show').removeClass('active');
                window.$('#delivery-task-content').removeClass('show').removeClass('active');
                window.$('#groccery-shopping-content').addClass('show').addClass('active');
            },
            showBillsContent () {
                if(this.store.state.billsCart.editor) {
                    this.store.state.billsCart.editor.destroy();
                }
                this.store.state.billsCart.editor = new Editor({
                    extensions: [
                        new Blockquote(),
                        new Heading({ levels: [3, 4, 5] }),
                        new BulletList(),
                        new ListItem(),
                        new Bold(),
                        new Italic()
                    ],
                    content: `
                                <h4>Hi there ✋</h4>
                                <p>Use this space to tell your task runner about the bills they need to pay. You can use lists like below</p>
                                <ul style=""><li><p><strong>📺 Pay DSTV subscription</strong> tell runner what package to pay for.</p></li><li><p><strong>🌊 Pay monthly water bill </strong>tell the runner where to pay it</p></li></ul>
                                <p>Remember you can be as expressive as you want <strong>🙌🙌🙌🙌</strong></p>
                            `
                });
                window.$('.chat').addClass('open');
                window.$('#delivery-task-content').removeClass('show').removeClass('active');
                window.$('#groccery-shopping-content').removeClass('show').removeClass('active');
                window.$('#bills-content').addClass('show').addClass('active');
            },
            showDeliveryTaskContent () {
                if(this.store.state.deliveryCart.editor) {
                    this.store.state.deliveryCart.editor.destroy();
                }
                this.store.state.deliveryCart.editor = new Editor({
                    extensions: [
                        new Blockquote(),
                        new Heading({ levels: [3, 4, 5] }),
                        new BulletList(),
                        new ListItem(),
                        new Bold(),
                        new Italic()
                    ],
                    content: `
                                <h4>Hi there ✋</h4>
                                <p>Use this space to tell your task runner about the delivery they need to deliver. You can use lists like below</p>
                                <ul style=""><li><p><strong>👜 Fetch Parcel From Store</strong> tell runner where to get the parcel.</p></li><li><p><strong>💰 Use Card To Pay </strong>tell the runner where to pay and details to us</p></li></ul>
                                <p>Remember you can be as expressive as you want <strong>🙌🙌🙌🙌</strong></p>
                            `
                });
                window.$('.chat').addClass('open');
                window.$('#bills-content').removeClass('show').removeClass('active');
                window.$('#groccery-shopping-content').removeClass('show').removeClass('active');
                window.$('#delivery-task-content').addClass('show').addClass('active');
            },
            setSwiperSelectedShop(shop) {
                let self = this;
                self.store.state.selectedShop = shop;
                this.axios.get(`${window.baseApiUri}/product/?shop=${this.store.state.selectedShop.id}&format.json`)
                    .then(function(result) {
                        self.store.state.selectedShop.products = result.data;
                        self.$forceUpdate();
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                window.eva.replace();
            },
            showSelectedProduct(product) {
                this.store.state.selectedProduct = product;
                this.store.state.selectedProduct.quantity = 1;
                window.$('#add-item-to-cart').modal('show');
            },
            showShoppingCart() {
                this.$parent.$forceUpdate();
                this.$refs.shoppingCartComponent.$forceUpdate();
                window.$("#shopping-cart-modal").modal("show");
            },
            hideTaskTab() {
                window.$('.chat').removeClass('open');
            },
            submitBillsTask() {
                this.store.state.billsCart.is_loading = true;
                this.store.state.billsCart.is_error = false;
                let content = {
                    type: "BILL PAYMENT",
                    title: this.store.state.billsCart.title,
                    content: this.store.state.billsCart.editor.getHTML()
                };
                let model = {
                    tasker: this.$parent.store.state.currentUser.id,
                    taskee: null,
                    name: "Bill Payment",
                    task_type: "CUSTOM",
                    status: "Pending",
                    metadata: {
                        custom: JSON.stringify(content)
                    },
                    lowest_rate: parseFloat(this.store.state.billsCart.lowest_rate),
                    highest_rate: parseFloat(this.store.state.billsCart.highest_rate)
                };
                let self = this;
                this.axios.post(`${window.baseApiUri}/post-tasks/?format.json`, model)
                    .then(function(result) {
                        console.log(result);
                        self.store.state.billsCart.is_error = false;
                        self.store.state.billsCart.is_loading = false;
                        self.hideTaskTab();
                    })
                    .catch(function(error) {
                        self.store.state.billsCart.is_error = true;
                        self.store.state.billsCart.is_loading = false;
                        console.log(error);
                    });
            },
            submitDeliveryTask() {
                this.store.state.deliveryCart.is_loading = true;
                this.store.state.deliveryCart.is_error = false;
                let content = {
                    type: "DELIVERY",
                    title: this.store.state.deliveryCart.title,
                    content: this.store.state.deliveryCart.editor.getHTML()
                };
                let model = {
                    tasker: this.$parent.store.state.currentUser.id,
                    taskee: null,
                    name: "Delivery Of Parcel",
                    task_type: "CUSTOM",
                    status: "Pending",
                    metadata: {
                        custom: JSON.stringify(content)
                    },
                    lowest_rate: parseFloat(this.store.state.deliveryCart.lowest_rate),
                    highest_rate: parseFloat(this.store.state.deliveryCart.highest_rate)
                };
                let self = this;
                this.axios.post(`${window.baseApiUri}/post-tasks/?format.json`, model)
                    .then(function(result) {
                        console.log(result);
                        self.store.state.deliveryCart.is_error = false;
                        self.store.state.deliveryCart.is_loading = false;
                        self.hideTaskTab();
                    })
                    .catch(function(error) {
                        self.store.state.deliveryCart.is_error = true;
                        self.store.state.deliveryCart.is_loading = false;
                        console.log(error);
                    });
            },
            showTask(userTask) {
                this.store.state.selectedTask = userTask;
                this.store.state.selectedTask.is_loading = false;
                window.$('.chat').addClass('open');
                window.$('#bills-content').removeClass('show').removeClass('active');
                window.$('#delivery-task-content').removeClass('show').removeClass('active');
                window.$('#groccery-shopping-content').removeClass('show').removeClass('active');
                window.$('#show-task-content').addClass('show').addClass('active');
            },
            getCartSubtotal(products) {
                let subtotal = 0.00;
                products.forEach(function(product) {
                    subtotal += product.price;
                });
                return subtotal;
            },
            confirmSelectedTask() {
                this.store.state.selectedTaskIsLoading = true;
                let model = {
                    requester: this.$parent.store.state.currentUser.id,
                    task: this.store.state.selectedTask.id,
                    status: 'COMPLETE'
                };
                let self = this;
                this.axios.post(`${window.baseApiUri}/task-status/?format.json`, model)
                    .then(function(result) {
                        console.log(result);
                        self.store.state.selectedTaskIsLoading = false;
                        self.hideTaskTab();
                        self.store.state.tasks.pop(self.store.state.selectedTask);
                    })
                    .catch(function(error) {
                        self.store.state.selectedTaskIsLoading = false;
                        console.log(error);
                    });
            },
            shareTaskToAyoba() {
                let message = 'I just created this task\n\n';
                message += `Task : ${this.store.state.selectedTask.name}\n`;
                message += `Title : ${this.store.state.selectedTask.metadata.custom.title }\n`
                message += `Fee : R ${this.store.state.selectedTask.lowest_rate} - R ${this.store.state.selectedTask.highest_rate}\n\n`;
                this.$ayoba.sendMessage(message);
            }
        },
        mounted() {
            window.eva.replace();
            let self = this;
            this.axios.get(`${window.baseApiUri}/shop/?format.json`)
                .then(function(result) {
                    self.store.state.shops = result.data;
                }).catch(function(error) {
                    console.log(error);
                });
            this.axios.get(`${window.baseApiUri}/tasks/?format.json`)
                .then(function(result) {
                    result.data.forEach(function(task) {
                        self.store.state.tasks.push(task);
                    });
                }).catch(function(error) {
                    console.log(error);
                });
            this.$nextTick(() => {
                window.eva.replace();
            });
        },
        computed: {
            currentUserOngoingTasks() {
                let userOngoingTasks = [];
                let self = this;
                if(this.$parent.store.state.currentUser) {
                    this.store.state.tasks.forEach(function(task) {
                        if(self.$parent.store.state.currentUser.id == task.tasker.id
                            && task.status == "Ongoing" || task.status == "AWAITING") {
                            if(task.metadata.custom != "" || task.metadata.custom instanceof String)
                                task.metadata.custom = JSON.parse(task.metadata.custom);
                            userOngoingTasks.push(task);
                        }
                    });
                }
                return userOngoingTasks;
            },
            currentUserPendingTasks() {
                let userPendingTasks = [];
                let self = this;
                if(this.$parent.store.state.currentUser) {
                    this.store.state.tasks.forEach(function(task) {
                        if(self.$parent.store.state.currentUser.id == task.tasker.id
                            && task.status == "Pending") {
                            if(task.metadata.custom != "" || task.metadata.custom instanceof String)
                                task.metadata.custom = JSON.parse(task.metadata.custom);
                            userPendingTasks.push(task);
                        }
                    });
                }
                return userPendingTasks;
            }
        },
    }
</script>