﻿@model ItemViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row" id="app">
    <div class="col-md-12">
        <h2>Scrap Grocery Items</h2>
        <form asp-action="ScrapItems" asp-controller="Home">
            <div class="form-group">
                <label>Shop Id</label>
                <input asp-for="ShopId" class="form-control" />
            </div>
            <div class="form-group">
                <label>Web Url</label>
                <input asp-for="Url" class="form-control" />
            </div>
            <div class="form-group">
                <label>Category</label>
                <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

