﻿@inject ApplicationDbContext DbContext
@{
    ViewData["Title"] = "Products";

    var products = DbContext.Items.ToList();
}

<div class="row" id="app">
    
    <div class="col-md-12">
        <h2>Product list</h2>
        <div>
            <button v-on:click="postProducts()" class="btn btn-primary float-right">Post All Products to Api</button>
            <button v-on:click="getProducts()" class="btn btn-primary">Get</button>
        </div>
        <br />
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col-md-3" style="width: 100%; height: 100%">
                    <div class="card">
                        <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">@product.Name</h4>
                            <h6 class="card-title">@product.Category</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            items: []
        },
        methods: {
            getProducts() {
                axios.get("https://clearhouse.pythonanywhere.com/api/product/")
                    .then(function (response) {
                        console.log(response)
                    })
            },
            postProducts() {
                axios.get('/api/get')
                    .then(function (response) {
                        // handle success
                        this.items = response.data;
                        for (var item in this.items) {
                            //console.log(this.items[item]);
                            axios.post('https://clearhouse.pythonanywhere.com/api/product/', {

                                name: this.items[item].name,
                                description: this.items[item].name,
                                shop: this.items[item].shopId,
                                category: this.items[item].category,
                                price: this.items[item].price,
                                product_photo: this.items[item].imageUrl

                            })
                                .then(function (response) {
                                    console.log(response);
                                })
                                .catch(function (error) {
                                    console.log(error);
                                });
                        }
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
                    .then(function () {
                        // always executed
                    });
            }
        }
    });
</script>

